In [1]:
# import the necessary libraries
import numpy as np
import pandas as pd

In [2]:
# reading the csv file into a dataframe
food_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
food_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
# checking for the first 50 random values in the dataframe
food_df.sample(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
46793,193,Sao Tome and Principe,2734,Poultry Meat,5171,Tourist consumption,1000 tonnes,0.00,0.00,0.00,0.00,0.00
26409,175,Guinea-Bissau,2923,Spices,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
44576,184,Rwanda,2518,Sorghum and products,5911,Export Quantity,1000 tonnes,0.00,0.00,2.00,0.00,NaN
30074,123,Liberia,2918,Vegetables,674,Protein supply quantity (g/capita/day),g/capita/day,1.10,1.14,1.13,1.15,1.16
6118,233,Burkina Faso,2918,Vegetables,5611,Import Quantity,1000 tonnes,49.00,54.00,51.00,28.00,42.00
14728,107,Côte d'Ivoire,2655,Wine,5611,Import Quantity,1000 tonnes,33.00,40.00,46.00,48.00,41.00
39714,144,Mozambique,2617,Apples and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
8329,32,Cameroon,2536,Sugar cane,5142,Food,1000 tonnes,286.00,262.00,284.00,244.00,257.00
13712,107,Côte d'Ivoire,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,168.00,154.00,160.00,195.00,181.00
45911,193,Sao Tome and Principe,2805,Rice and products,5072,Stock Variation,1000 tonnes,1.00,3.00,1.00,1.00,-1.00
32228,130,Malawi,2514,Maize and products,5072,Stock Variation,1000 tonnes,153.00,-74.00,-356.00,-11.00,-33.00
20098,238,Ethiopia,2658,"Beverages, Alcoholic",674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
25791,175,Guinea-Bissau,2520,"Cereals, Other",5527,Seed,1000 tonnes,0.00,0.00,0.00,0.00,0.00
53784,217,Togo,2763,Pelagic Fish,5301,Domestic supply quantity,1000 tonnes,20.31,24.60,29.08,27.47,27.47
9632,37,Central African Republic,2517,Millet and products,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
53872,217,Togo,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01
43728,159,Nigeria,2601,Tomatoes and products,5142,Food,1000 tonnes,3945.00,4073.00,2824.00,2944.00,3254.00
2026,7,Angola,2586,"Oilcrops Oil, Other",664,Food supply (kcal/capita/day),kcal/capita/day,16.00,12.00,12.00,12.00,11.00
25597,90,Guinea,2765,Crustaceans,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
18533,209,Eswatini,2633,Cocoa Beans and products,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37753,143,Morocco,2543,"Sweeteners, Other",645,Food supply quantity (kg/capita/yr),kg,0.37,0.19,0.54,0.55,0.54
19118,238,Ethiopia,2516,Oats,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
37153,137,Mauritius,2735,"Meat, Other",5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
51393,276,Sudan,2531,Potatoes and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
32563,130,Malawi,2913,Oilcrops,5072,Stock Variation,1000 tonnes,11.00,-29.00,8.00,18.00,15.00
33731,133,Mali,2518,Sorghum and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
7958,35,Cabo Verde,2763,Pelagic Fish,5611,Import Quantity,1000 tonnes,0.26,0.20,0.23,0.16,0.16
58646,251,Zambia,2914,Vegetable Oils,5142,Food,1000 tonnes,68.00,67.00,72.00,89.00,91.00
36129,137,Mauritius,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,24.07,24.58,22.76,24.68,25.34
11383,39,Chad,2571,Soyabean Oil,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
30985,129,Madagascar,2909,Sugar & Sweeteners,645,Food supply quantity (kg/capita/yr),kg,8.12,8.17,8.28,8.41,8.21
14936,107,Côte d'Ivoire,2781,"Fish, Body Oil",684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
50280,202,South Africa,2559,Cottonseed,5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
1490,7,Angola,2532,Cassava and products,5521,Feed,1000 tonnes,1288.00,1071.00,1062.00,1276.00,1308.00
44818,184,Rwanda,2547,Peas,674,Protein supply quantity (g/capita/day),g/capita/day,1.17,0.83,0.80,0.59,0.56
24445,90,Guinea,2531,Potatoes and products,5072,Stock Variation,1000 tonnes,-17.00,0.00,0.00,1.00,75.00
431,4,Algeria,2560,Coconuts - Incl Copra,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01
40728,147,Namibia,2561,Sesame seed,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60092,181,Zimbabwe,2572,Groundnut Oil,5911,Export Quantity,1000 tonnes,0.00,0.00,NaN,NaN,NaN
6958,35,Cabo Verde,2531,Potatoes and products,5611,Import Quantity,1000 tonnes,8.00,10.00,8.00,10.00,11.00
26683,175,Guinea-Bissau,2848,Milk - Excluding Butter,684,Fat supply quantity (g/capita/day),g/capita/day,2.77,2.73,2.79,2.55,2.50
60669,181,Zimbabwe,2945,Offals,5301,Domestic supply quantity,1000 tonnes,21.00,22.00,21.00,22.00,22.00
5440,233,Burkina Faso,2511,Wheat and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.46,0.37,0.44,0.47,0.45
47070,195,Senegal,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,110.00,211.00,100.00,200.00,226.00
26814,114,Kenya,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,7399.00,7327.00,7500.00,7573.00,7971.00
46396,193,Sao Tome and Principe,2586,"Oilcrops Oil, Other",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
56383,226,Uganda,2734,Poultry Meat,664,Food supply (kcal/capita/day),kcal/capita/day,6.00,6.00,6.00,6.00,5.00
28748,122,Lesotho,2563,Olives (including preserved),684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
54612,222,Tunisia,2615,Bananas,5123,Losses,1000 tonnes,3.00,4.00,5.00,4.00,3.00
37622,143,Morocco,2520,"Cereals, Other",645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.01,0.00

In [5]:
# checking the data types
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
# checking for duplicated values
food_df.duplicated().sum()

0

In [7]:
#checking the summary statistics
food_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [8]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

# Create a DataFrame with specified columns and index
df = pd.DataFrame(lst, columns=['Age', 'Nationality', 'Overall'], index=[1, 2, 3])

# Display the DataFrame
print(df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [9]:
total_missing_2014 = food_df['Y2014'].isnull().sum()
total_rows = len(food_df)

In [10]:
# Calculate the percentage of missing data in 2014
percentage_missing_2014 = (total_missing_2014 / total_rows) * 100

In [11]:
# Print the results to three decimal places
print("Total missing data in 2014:", total_missing_2014)
print("Percentage of missing data in 2014:", round(percentage_missing_2014, 3), "%")

Total missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

In [12]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [13]:
result = array[:1, 1:]

TypeError: list indices must be integers or slices, not tuple

In [14]:
# Filter the DataFrame for 'Wine' item and select 'Y2015' and 'Y2018' columns
wine_production = food_df[food_df['Item'] == 'Wine'][['Y2015', 'Y2018']]

In [15]:
# Calculate the total sum of Wine produced in 2015 and 2018
total_wine_production_2015 = wine_production['Y2015'].sum()
total_wine_production_2018 = wine_production['Y2018'].sum()

In [16]:
print("Total Wine produced in 2015:", total_wine_production_2015)
print("Total Wine produced in 2018:", total_wine_production_2018)

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

In [17]:
# Perform a groupby sum aggregation on the 'Item' column to calculate the total production of each item
item_production_total = food_df.groupby('Item')['Y2015', 'Y2018'].sum().reset_index()
print(item_production_total)

                    Item      Y2015      Y2018
0      Alcohol, Non-Food    2180.00    2293.00
1    Alcoholic Beverages   98783.72   97847.27
2        Animal Products   11811.73   11578.61
3            Animal fats  200675.72  269648.27
4    Apples and products   10559.15    9640.51
..                   ...        ...        ...
114    Vegetables, Other  158104.08  163987.21
115     Vegetal Products  107064.17  107775.39
116   Wheat and products  234710.51  242645.19
117                 Wine    4251.81    4039.32
118                 Yams  203151.78  221272.09

[119 rows x 3 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_18632\1809579009.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  item_production_total = food_df.groupby('Item')['Y2015', 'Y2018'].sum().reset_index()

In [18]:
# Select the 'Y2017' and 'Area' columns
selected_columns = food_df[['Y2017', 'Area']]

In [19]:
# Group by 'Area' and calculate the sum of 'Y2017' for each Area
area_sum_2017 = selected_columns.groupby('Area')['Y2017'].sum()

In [20]:
# Sort the sums in ascending order and get the 7th lowest sum
seventh_lowest_sum = area_sum_2017.sort_values().iloc[6]

In [21]:
# Find the Area(s) with the 7th lowest sum
areas_with_seventh_lowest_sum = area_sum_2017[area_sum_2017 == seventh_lowest_sum].index.tolist()

In [22]:
print("7th lowest sum in 2017:", seventh_lowest_sum)
print("Area(s) with the 7th lowest sum in 2017:", areas_with_seventh_lowest_sum)

7th lowest sum in 2017: 19102.77
Area(s) with the 7th lowest sum in 2017: ['Guinea-Bissau']

In [23]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [24]:
# Group by 'Element' and calculate the sum of 'Stock Variation' for each Element
element_sum_stock_variation = food_df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

C:\Users\user\AppData\Local\Temp\ipykernel_18632\2656181638.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  element_sum_stock_variation = food_df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

In [25]:
# Find the year with the highest sum of 'Stock Variation' across all elements
year_with_highest_stock_variation = element_sum_stock_variation.sum(axis=0).idxmax()

In [26]:
print("Year with the highest sum of Stock Variation:", year_with_highest_stock_variation)

Year with the highest sum of Stock Variation: Y2018

In [27]:
columns_of_interest = ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

# Calculate the correlation coefficients between 'Element Code' and each year
correlations = food_df[columns_of_interest].corr()

# Find the year with the lowest correlation with 'Element Code'
year_with_least_correlation = correlations['Element Code'].idxmin()

print("Year with the least correlation with 'Element Code':", year_with_least_correlation)

Year with the least correlation with 'Element Code': Y2016

In [28]:
# Calculate the mean and standard deviation for the year 2017
mean_2017 = food_df['Y2017'].mean()
std_2017 = food_df['Y2017'].std()

# Round the results to two decimal places
mean_2017 = round(mean_2017, 2)
std_2017 = round(std_2017, 2)

print("Mean for the year 2017:", mean_2017)
print("Standard Deviation for the year 2017:", std_2017)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [29]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [30]:
# Assign element 8 to variable x
x = y[1][1]

print(x)

8

In [31]:
# group by 'Element' and sum the 'Y2015' values to calculate the total protein supply quantity for Madagascar in 2015
protein_supply_2015_madagascar = food_df[(food_df['Area'] == 'Madagascar') & (food_df['Element'] == 'Protein supply quantity (g/capita/day)')].groupby('Element')['Y2015'].sum().values[0]

print("Total Protein supply quantity for Madagascar in 2015:", protein_supply_2015_madagascar)

Total Protein supply quantity for Madagascar in 2015: 173.05

In [32]:
total_processing_2017 = food_df[food_df['Element'] == 'Processing']['Y2017'].sum()

print("Total sum of 'Processing' in 2017:", total_processing_2017)

Total sum of 'Processing' in 2017: 292836.0

In [33]:
# Select the 'Y2017' and 'Area' columns
selected_columns = food_df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum of 'Y2017' for each Area
area_sum_2017 = selected_columns.groupby('Area')['Y2017'].sum()

# Find the Area with the highest sum in 2017
area_with_highest_sum_2017 = area_sum_2017.idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum_2017)

Area with the highest sum in 2017: Nigeria

In [34]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'